<%- include("../includes/head.ejs") %>

<body>
  <%- include("../includes/nav.ejs") %>
  <form action=""></form>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <%- include("../includes/end.ejs") %>
</body>
