<%- include("../includes/head.ejs") %>

<body>
  <%- include("../includes/nav.ejs") %>
  <div class="container">
    <h1>Dashboard</h1>
    <p class="lead">Welcome <%= name %></p>
    <a href="/logout" class="btn btn-secondary">Logout</a>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <%- include("../includes/end.ejs") %>
</body>
